<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信息</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/info.css">
</head>

<body>
    <h1 class="text-center">信息管理系统</h1>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2">
                <table class="table table-bordered" id="app">
                    <tr>
                        <th>id</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>电子邮箱</th>
                        <th>操作</th>
                    </tr>

                    <tr v-for="(oneInfo, index) in allInfo">
                        <td>{{oneInfo.id}}</td>
                        <td>{{oneInfo.name}}</td>
                        <td>{{oneInfo.sex}}</td>
                        <td>{{oneInfo.age}}</td>
                        <td>{{oneInfo.email}}</td>
                        <td>
                            <button class="btn btn-default" @click="toUpdateOne(oneInfo.id)">修改</button>
                            <button class="btn btn-default" @click="delOne(oneInfo.id)">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <h3 class="text-center">添加信息</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-horizontal" id="insert">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="col-md-3">姓名</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" placeholder="请输入姓名" v-model="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-3">性别</label>
                        <div class="col-md-9 checkbox">
                            <label>
                                <input type="radio" name="sex" value="1" v-model="sex"> 男
                            </label>
                            <label>
                                <input type="radio" name="sex" value="0" v-model="sex"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="col-md-3">年龄</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="" placeholder="请输入年龄" v-model="age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile" class="col-md-3">电子邮箱</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" placeholder="请输入电子邮箱" v-model="email">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary center-block" @click.prevent="insertOne">确认添加</button>

                </form>
            </div>
        </div>

        <h3 class="text-center">修改信息</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-horizontal" id="update">
                    <input type="hidden" name="" id="" v-model="id">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="col-md-3">姓名</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" placeholder="请输入姓名" v-model="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-3">性别</label>
                        <div class="col-md-9 checkbox">
                            <label>
                                <input type="radio" name="sex" value="1" v-model="sex"> 男
                            </label>
                            <label>
                                <input type="radio" name="sex" value="0" v-model="sex"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="col-md-3">年龄</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="" placeholder="请输入年龄" v-model="age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile" class="col-md-3">电子邮箱</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="" placeholder="请输入电子邮箱" v-model="email">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary center-block" @click.prevent="updateCi()">确认修改</button>

                </form>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/bootstrap.js"></script>

    <script src="./js/Vue.js"></script>
    <script src="./js/vue-resource.js"></script>
    
    <script src="./js/info.js"></script>

</body>

</html>